<!DOCTYPE html>
<html>
<head>
	
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/stk_CSS.css" rel="stylesheet" />
	<link href="~/Content/Res_login_CSS.css" rel="stylesheet" />
	<link href="~/Content/acco_CSS.css" rel="stylesheet" />
	<link href="~/Content/headerhover.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
	<header>
		@RenderPage("~/Views/Shared/combine/Header_name.cshtml");



	</header>
	
	<div class="container" style="margin-top:50px;">
		
		
		<img class="img-responsive img-rounded" src="~/Picture/images/DSC_3832.JPG" width="1350" height="500" />
		<hr/>
			<div class="mainmenu">
				<div>


					<button class="btn btn-sm mainbtn small"data-target="#reservelogin" data-toggle="modal" ><img class="img-responsive" src="~/Picture/icons8-event-64.png" width="60" height="60" /></button>
					@RenderPage("~/Views/Shared/_LayoutReservationLogin.cshtml")
				</div>
				
					<div>

						<button class="btn btn-sm mainbtn small" data-target="#accountlogin" data-toggle="modal"><img class="img-responsive" src="~/Picture/icons8-accounting-80(1).png" width="60" height="60" /></button>
						
						@RenderPage("~/Views/Shared/_LayoutAccountsLogin.cshtml")
					</div>
			
				<div>

					<button class="btn btn-sm mainbtn small " data-target="#stocklogin" data-toggle="modal"><img class="img-responsive" src="~/Picture/icons8-warehouse-64.png" width="60" height="60" /></button>
				
					@RenderPage("~/Views/Shared/_LayoutStockLogin .cshtml")

					
				</div>

			</div>
		<div class="reserve">
			<div>
				<p>Reservation</p>
			</div>
			<div>
				<p style="padding-right:15px">Accounts</p>
			</div>
			<div >
				<p style="padding-right:15px"> Stocks</p>
			</div>

		</div>

	</div>
	<footer class="footer " >
	@RenderPage("~/Views/Shared/combine/Footer_name.cshtml")
	
		@RenderBody();
	</footer>
	<script src="~/scripts/popup.js"></script>
		<script src="~/scripts/jquery-3.4.1.js"></script>
	<script src="~/scripts/bootstrap.js"></script>
	

</body>
</html>