<!DOCTYPE html>
<html>
<head>
	
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/stk_CSS.css" rel="stylesheet" />

	<link href="~/Content/Calender.css" rel="stylesheet" />
	<link href="~/Content/acco_CSS.css" rel="stylesheet" />
	<link href="~/Content/headerhover.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
	<header>
		@RenderPage("~/Views/Shared/combine/Header_name.cshtml")



	</header>
	
	<div id="Container" class="container" style="margin-top:50px;">
		<div class="mainmenuofmainwindow">
			<div>


				<button class="btn btn-sm  small" onclick="location.href='@Url.Action("MehndiEvents","ReservationEventsmain")'"><img class="img-responsive" src="~/Picture/mehndi11.png" width="60" height="60" /></button>

			</div>
			<div>


				<button class="btn btn-sm small" onclick="location.href='@Url.Action("BaratEvents","ReservationEventsmain")'"><img class="img-responsive" src="~/Picture/images/baraat.png" width="60" height="60" /></button>

			</div>
			<div>

				<button class="btn btn-sm small" onclick="location.href='@Url.Action("WalimaEvents","ReservationEventsmain")'"><img class="img-responsive" src="~/Picture/images/walima.png" width="60" height="60" /></button>

			</div>
			<div>

				<button class="btn btn-sm small " onclick="location.href='@Url.Action("PartyEvents","ReservationEventsmain")'"><img class="img-responsive" src="~/Picture/images/party1.png" width="60" height="60" /></button>

			</div>

		</div>
		<div class="reserve">
			<div>
				<p>Mehndi Events</p>
			</div>
			<div>
				<p>Barat Events</p>
			</div>
			<div>
				<p>Walima Events</p>
			</div>
			<div>
				<p style="text-align:center">Party Events</p>
			</div>

		</div>
		@RenderBody();

	</div>

	<script src="~/scripts/popup.js"></script>
		<script src="~/scripts/jquery-3.4.1.js"></script>
	<script src="~/scripts/bootstrap.js"></script>

	<footer class="footer">
		@RenderPage("~/Views/Shared/combine/Footer_name.cshtml")


	</footer>
	

</body>

</html>