@model WebApplication5.Models.DB.Item

@{
    ViewBag.Title = "UpdateVegetable";
    Layout = "~/Views/Shared/_LayoutReservationChangescreen.cshtml";
}

<h2 class="label-success" style="display:flex; justify-content:center; color:white">Update Vegetable</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.itemId)

        <div class="form-group">
         @Html.Label("Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.itemName, new { htmlAttributes = new { @class = "form-control" ,@Readonly="readonly" } })
                @Html.ValidationMessageFor(model => model.itemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Sale Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.salesPrice, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.salesPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Purchase Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.purchasePrice, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.purchasePrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control",@Readonly="readonly"} })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.category, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Unit", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.unit, new { htmlAttributes = new { @class = "form-control", @Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.unit, "", new { @class = "text-danger" })
            </div>
        </div>
		<div class="form-group">
			@Html.Label("", "Update Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBox("UpdatedQuantity", null, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
			</div>
		</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ViewVegetable")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
